<div class="college-illustration">
  <div class="illustration-container">
    <!-- undraw.co Illustrations -->
    <div class="undraw-illustration">
      <ng-container [ngSwitch]="stepIndex">
        <!-- Personal Details - Education Illustration -->
        <img
          *ngSwitchCase="0"
          src="https://undraw.co/api/illustrations/education.svg"
          alt="Education Excellence"
          class="illustration-image"
          (error)="onImageError($event)"
        />

        <!-- Category & Eligibility - Team Illustration -->
        <img
          *ngSwitchCase="1"
          src="https://undraw.co/api/illustrations/team_collaboration.svg"
          alt="Team Collaboration"
          class="illustration-image"
          (error)="onImageError($event)"
        />

        <!-- Academic Qualifications - Knowledge Illustration -->
        <img
          *ngSwitchCase="2"
          src="https://undraw.co/api/illustrations/graduation.svg"
          alt="Academic Knowledge"
          class="illustration-image"
          (error)="onImageError($event)"
        />

        <!-- Parent Guardian - Family Illustration -->
        <img
          *ngSwitchCase="3"
          src="https://undraw.co/api/illustrations/family_time.svg"
          alt="Family Support"
          class="illustration-image"
          (error)="onImageError($event)"
        />

        <!-- Documents & Declaration - Success Illustration -->
        <img
          *ngSwitchCase="4"
          src="https://undraw.co/api/illustrations/certificate.svg"
          alt="Success Achievement"
          class="illustration-image"
          (error)="onImageError($event)"
        />
      </ng-container>
    </div>
    <!-- College Information -->
    <div class="college-info">
      <h3>{{ getStepInfo().title }}</h3>
      <p>{{ getStepInfo().description }}</p>

      <div class="achievements-section">
        <h4><i class="pi pi-trophy"></i> Our Achievements:</h4>
        <ul>
          <li *ngFor="let achievement of getStepInfo().achievements">
            {{ achievement }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
